/* GOOgle font cdn */
/* font-family: "Dancing Script", cursive; */

@import url('https://fonts.googleapis.com/css2?family=Afacad+Flux:wght@100..1000&family=Dancing+Script:wght@400..700&family=Pacifico&family=Playwrite+GB+S:ital,wght@0,100..400;1,100..400&family=Prociono&display=swap');


*
{
    margin:0px;
    padding: 0px;
    
}
#main
{
    display: flex;
    flex-direction: column;
}

#head
{   display: flex;
    flex-direction: row;
    /* margin: 20px auto; */
    height: 720px;
    width:100%;
    /* border: 0px ; */
    /* border-radius: 3px; */
    /* border-color: aquamarine; */
    background-image: url(asset/homepage-banner-1.jpg);  
   background-size: cover;
   background-position:top;
   /* background-repeat: no-repeat; */
   
}
#logo
{
    margin-top: 35px;
    position: absolute;
    left: 130px;
}
#logo img
{
    height: 100px;
    width: 140px;
}
#sidebar
{
    position: absolute;
    right: 30px;
    align-items: center;
    display: flex;
    flex-direction: row;
    /* justify-content:space-evenly; */
    height: 80px;
    width:800px ;
    border: 0px ;
    /* border-color: ; */
    border-radius: 2px;
    margin-top: 50px;
    /* background-color: aquamarine; */
    
}
#sidebar th{
   
    font-size: 18px;
    font-weight: lighter;
    color: white;
    padding-left: 40px;
    
}
#sidebar a{
    color: aliceblue;
    text-decoration: none;
    
}
#sidebar a:hover
  {
    color: aqua;
    text-decoration: underline; /* Add underline back on hover if needed */
  }

#sidebar #rt
{
    position: absolute;
    right: 30px;
    top: 10px;
    padding-right: 40px;
    height: 25px;
    width: 120px;
    border: 2px solid;
    padding-top: 17px;
    padding-bottom: 17px;
    border-color: aqua;
    /* background-color: aquamarine; */
}

#titilename
{
    position: absolute;
    right:550px;
    top: 260px;
    
}

h1{
    font-family: "Dancing Script", cursive;
    font-size: 100px;
    color:#ffd100;
    /* color: blue; */
}
h2{
    font-family: "Pacifico", cursive;
    font-size: 35px;
    color:black;
}

/* Container 2...About Us */
#about
{
    display: flex;
    flex-direction: row;
    /* margin: 20px auto; */
    height: 720px;
    width:100%;
    border: 1px solid;
    border-radius: 3px;
    background-color:rgb(86, 87, 53);
  

}

#inf
{
    display: flex;
    flex-direction: column;
    height: 500px;
    width: 400px;
    /* border: 4px solid; */
    margin: 150px ;
    /* background-color: #ffd100; */

}
#inf h3
{
    margin-bottom: 15px;
    font-weight: bold;
    color:white;
    

}

#inf h2
{
    margin-bottom: 30px;

}
#inf p
{
    font-family: "Prociono", serif;
}

#inf button
{
    margin-top: 30px;
    height: 50px;
    width: 150px;
    color: rgb(102, 43, 4);
    background-color: rgb(183, 155, 155);
    font-family: "Prociono", serif;
    font-size: 20px;
    font-weight: bold;
    border-radius: 7px;
}

#image
{
    margin: 70px;
    height: 590px;
    width: 470px;
    border-radius: 5px;
     background-image: url(asset/background.jpg);  
   background-size: cover;
   background-repeat: no-repeat;
   /* background-position:top; */
}

/* Container 3....Our Gallery */

#our_gallery
{
    /* display: flex;
    flex-direction: row; */
    /* margin: 20px auto; */
    height:1000px;
    width:100%;
    border: 1px solid;
    border-radius: 3px;
    background-color:rgb(255, 255, 254);
  
}
#our_gallery h2
{
    margin-top: 45px;
    text-align: center;
    font-size: 1000;
    text-shadow:5px;
    color: rgb(57, 58, 35);
    /* text-underline-position: below; */
}

.gallery {
    margin:70px;
    display: grid;
    gap: 10px; /* Space between items */
    grid-template-columns: repeat(auto-fill, minmax(270px, 1fr));
    padding: 0px;
  }
  
  .gallery img {
    width: 270px;
    height:250px;
    object-fit: cover; /* Ensures images cover the grid area without distortion */
    border-radius: 5px; /* Optional, for rounded corners */
  }

  .gallery img {
    transition: transform 0.3s ease;
  }
  
  .gallery img:hover {
    transform: scale(1.30); /* Slightly zoom in */
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.2); /* Adds a shadow */
  }

  
/* Container 4....Our Gallery */

#upcoming_events
{
    height:720px;
    width:100%;
    border: 1px solid;
    border-radius: 1px;
    border-color:rgb(86, 87, 53);
    background-color: rgb(186, 189, 116);
  
}
#upcoming_events h2
{
    margin-top: 45px;
    text-align: center;
    font-size: 1000;
    text-shadow:5px;
    color: rgb(57, 58, 35);
    /* text-underline-position: below; */
}

.temp {
    margin:40px;
    display: grid;
    gap: 10px; /* Space between items */
    grid-template-columns: repeat(auto-fill, minmax(400px, 1fr));
    padding-left:0px;
  }

  .temp img {
    width: 400px;
    height:500px;
    object-fit: cover; /* Ensures images cover the grid area without distortion */
    border-radius: 5px; /* Optional, for rounded corners */
  }

  .temp img {
    transition: transform 0.3s ease;
  }
  
  .temp img:hover {
    transform: scale(1.30); /* Slightly zoom in */
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.2); /* Adds a shadow */
  }
  /* Container4....Google map Location */

  #our_location
{
    height:720px;
    width:100%;
    border: 1px solid;
    border-radius: 1px;
    border-color:rgb(86, 87, 53);
    background-color: rgb(252, 252, 250);
  
}
#our_location h2
{
    margin-top: 45px;
    text-align: center;
    font-size: 1000;
    text-shadow:5px;
    color: rgb(57, 58, 35);
    /* text-underline-position: below; */
}

  .map-container 
  {
    width: 100%;
    max-width: 1000px; /*  sets a max width */
    height: 500px;
   
    margin: 0 auto; /* Centers the map within its container */
    margin-top: 50px;
    overflow: hidden;
    border: 5px solid;
    border-radius: 8px; /* Optional, for rounded corners */
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1); /* Optional, adds a shadow */
  }
  
  .map-container iframe {
    width: 100%;
    height: 100%;
    border: none; /* Removes the border around the iframe */
  }
  
